# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
/DummyWindowsService/.vs/
/DummyWindowsService/x64/
/DummyWindowsService/DummyWindowsService/Debug/
/DummyWindowsService/DummyWindowsService/x64/
/DummyWindowsService/DummyWindowsExe/bin/
/DummyWindowsService/DummyWindowsExe/obj/

